.navbar {
  padding: 44px 0;
  border-bottom: 1px solid #eaeaea;
}
.navbar-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-left {
}
.navbar-actions {
  display: flex;
  gap: 32px;
}
.navbar-actions li {
  display: flex;
  align-items: center;
  gap: 10px;
}
