/* font-family: 'Gilroy-Bold', sans-serif;
font-family: 'Gilroy-Heavy', sans-serif;
font-family: 'Gilroy-Light', sans-serif;
font-family: 'Gilroy-Medium', sans-serif;
font-family: 'Gilroy-Regular', sans-serif; */

:root {
  --font-medium: "Gilroy-Medium", sans-serif;
  --font-heavy: "Gilroy-Heavy", sans-serif;
  --font-light: "Gilroy-Light", sans-serif;
  --font-bold: "Gilroy-Bold", sans-serif;
  --font-regular: "Gilroy-Regular", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  font-family: var(--font-regular);
  font-size: 16px;
  box-sizing: border-box;
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}
ul,
li,
ol,
menu {
  list-style-type: none;
}
